body, h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
}

code, pre {
  font-family: 'Source Code Pro', sans-serif;
}

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
}

.container > hr {
  margin: 60px 0;
}

.jumbotron {
  margin: 40px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 64px;
  line-height: 1;
}

.jumbotron h2 {
  font-size: 48px;
  line-height: 1;
}

.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}

.navbar .navbar-inner {
  padding: 0;
}

.navbar .nav {
  float: none;
  margin: 0;
}

.navbar .nav li {
  width: 20%;
  text-align: center;
}

.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border: none;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 2.6em;
  }
  
  .jumbotron .lead {
    font-size: 1.4em;
  }
}

@media (max-width: 979px) {
  .navbar .nav li {
    width: 100%;
  }
}

