.container {
 width: 95%;
}

.table td.fit, 
.table th.fit {
 white-space: nowrap;
 width: 1%;
}

.row.vdivide [class*='col-']:not(:last-child):after {
 background: #e0e0e0;
 width: 1px;
 content: "";
 display:block;
 position: absolute;
 top:0;
 bottom: 0;
 right: 0;
 min-height: 70px;
}
