@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
 font-family: 'Source Code Pro';
 font-style: normal;
 font-weight: 400;
 src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/SourceCodePro.ttf) format('truetype');
}

body, h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
}

h2, h3 {
 margin-top: 3rem;
}

h2, h3, h4 {
 margin-bottom: 1rem;
}

.wrapped {
 overflow-wrap: break-word;
 text-align: justify;
 text-justify: inter-word;
 hyphens: auto;
}

code, pre {
 font-family: 'Source Code Pro', sans-serif;
}

pre {
 font-size: 0.75em;
}

body {
 font-size: 1.2em;
 font-kerning: normal;
 font-variant-ligatures: common-ligatures;
 text-rendering: optimizeLegibility;
}

nav {
 margin-bottom: 2em;
}

blockquote {
 font-size: 1em;
 margin-left: 2em;
}

.container > hr {
 margin: 30px 0;
}

.popover {
 max-width: none;
}

.jumbotron {
 margin: 40px 0;
 text-align: center;
 padding-bottom: 2rem;
 padding-top: 2rem;
}

.jumbotron h1 {
 font-size: 3em;
 line-height: 1;
}

.jumbotron h2 {
 font-size: 2.5em;
 line-height: 1;
}

.jumbotron .lead {
 font-size: 1.5em;
 line-height: 1.25;
}

.jumbotron .subnav {
 line-height: 2.25;
}

.navbar {
 -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
}

.ad {
 background-color: #152c66;
 color: #ffffff;
}

.ad a, .ad a:visited, .ad a:hover, .ad a:focus {
 color: #ffffff;
 text-decoration: none;
}

.ad, .welcome-block {
 -webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
 box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
}

.ad .btn, .welcome-block .btn {
 margin: 0 5px;
 -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
 box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
}

.ad, .ad .btn {
 font-size: 1.2rem;
 font-weight: bold;
}

pre {
 -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 background: #f5f5f5;
}

.documentation .panel-body ul,
.documentation-outdated .panel-body ul {
 padding-left: 8px;
}

.documentation .panel-body li,
.documentation-outdated .panel-body li {
 list-style-type: none;
}

.documentation .panel-body li span.glyphicon,
.documentation-outdated .panel-body li span.glyphicon {
 margin-right: 10px;
}

.documentation-outdated {
 border-color: #999;
}

.documentation-outdated .panel-heading {
 background-color: #999;
 border-color: #999;
}

.documentation-outdated .panel-body a,
.documentation-outdated .panel-body li
 {
 color: #999;
}

.btn {
 font-size: 1em;
}

.btn-start {
 color: #ffffff;
 background-color: #39b54a;
 border-color: #39b54a;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
 color: #ffffff;
 background-color: #28a439;
 border-color: #28a439;
}

.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
 background-image: none;
}

.btn-start.disabled,
.btn-start[disabled],
fieldset[disabled] .btn-start,
.btn-start.disabled:hover,
.btn-start[disabled]:hover,
fieldset[disabled] .btn-start:hover,
.btn-start.disabled:focus,
.btn-start[disabled]:focus,
fieldset[disabled] .btn-start:focus,
.btn-start.disabled:active,
.btn-start[disabled]:active,
fieldset[disabled] .btn-start:active,
.btn-start.disabled.active,
.btn-start[disabled].active,
fieldset[disabled] .btn-start.active {
 background-color: #39b54a;
 border-color: #39b54a;
}

.btn-start .badge {
 color: #39b54a;
 background-color: #fff;
}

.btn-sponsoring {
 color: #ffffff;
 background-color: #3d9cd7;
 border-color: #3d9cd7;
}

.btn-sponsoring:hover,
.btn-sponsoring:focus,
.btn-sponsoring:active,
.btn-sponsoring.active,
.open .dropdown-toggle.btn-sponsoring {
 color: #ffffff;
 background-color: #2c8bc6;
 border-color: #2c8bc6;
}

.btn-sponsoring:active,
.btn-sponsoring.active,
.open .dropdown-toggle.btn-sponsoring {
 background-image: none;
}

.btn-sponsoring.disabled,
.btn-sponsoring[disabled],
fieldset[disabled] .btn-sponsoring,
.btn-sponsoring.disabled:hover,
.btn-sponsoring[disabled]:hover,
fieldset[disabled] .btn-sponsoring:hover,
.btn-sponsoring.disabled:focus,
.btn-sponsoring[disabled]:focus,
fieldset[disabled] .btn-sponsoring:focus,
.btn-sponsoring.disabled:active,
.btn-sponsoring[disabled]:active,
fieldset[disabled] .btn-sponsoring:active,
.btn-sponsoring.disabled.active,
.btn-sponsoring[disabled].active,
fieldset[disabled] .btn-sponsoring.active {
 background-color: #3d9cd7;
 border-color: #3d9cd7;
}

.btn-sponsoring .badge {
 color: #3d9cd7;
 background-color: #fff;
}

.btn-training {
 color: #ffffff;
 background-color: #f19322;
 border-color: #f19322;
}

.btn-training:hover,
.btn-training:focus,
.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
 color: #ffffff;
 background-color: #e08211;
 border-color: #e08211;
}

.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
 background-image: none;
}

.btn-training.disabled,
.btn-training[disabled],
fieldset[disabled] .btn-training,
.btn-training.disabled:hover,
.btn-training[disabled]:hover,
fieldset[disabled] .btn-training:hover,
.btn-training.disabled:focus,
.btn-training[disabled]:focus,
fieldset[disabled] .btn-training:focus,
.btn-training.disabled:active,
.btn-training[disabled]:active,
fieldset[disabled] .btn-training:active,
.btn-training.disabled.active,
.btn-training[disabled].active,
fieldset[disabled] .btn-training.active {
 background-color: #f19322;
 border-color: #f19322;
}

.btn-training .badge {
 color: #f19322;
 background-color: #fff;
}

.hljs {
  display: block; padding: 0.5em;
  background: #f5f5f5;
}

.card {
    margin-bottom: 2em;
}

ul.announcements, ul.articles, ul.training {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

div[data-sponsor] {
 display: grid;
 align-items: center;
 text-align: center;
 margin-bottom: 7rem;
 margin-right: 5rem;
}

img[data-previous-sponsor] {
 filter: grayscale(100%);
 opacity: 0.25;
}

@media (max-width: 767.98px) {
 .ad .btn, .welcome-block .btn {
  display: block;
  width: 80%;
  margin: 0 auto 1em;
 }

 .jumbotron h1 {
  font-size: 2.6em;
 }

 .jumbotron .lead {
  font-size: 1.4em;
 }
}

@media (max-width: 991.98px) {
 .navbar .nav li {
  width: 100%;
 }
}
