@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/SourceCodePro.ttf) format('truetype');
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.2em;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

h2.subheadline {
    margin-top: 4rem;
}

h3.subheadline {
    margin-top: 3rem;
}

h3 a {
    color: #000;
}

h4.subheadline {
    margin-top: 2.5rem;
}

a {
    text-decoration: none;
}

code, pre {
    font-family: 'Source Code Pro', sans-serif;
}

hr {
    margin: 30px 0;
}

pre {
    font-size: 0.75em;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
    background: #f5f5f5;
}

time {
    font-size: smaller;
    font-weight: bold;
}

p.announcement {
    margin-bottom: 3rem;
}

p.lead {
    font-size: 1.5em;
    line-height: 1.25;
}

img.tweet {
    width: 100%;
    margin-bottom: 1rem;
}

ul.announcements, ul.articles, ul.training {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.announcements > li:first-of-type, ul.articles > li:first-of-type, ul.training > li:first-of-type {
    margin-top: 2rem;
}

ul.announcements > li, ul.articles > li, ul.training > li {
    border-bottom: solid 1px #eee;
    margin: 30px 0;
}

ul.announcements > li:last-of-type, ul.articles > li:last-of-type, ul.training > li:last-of-type {
    border-bottom: none;
}

.hljs {
    display: block; padding: 0.5em;
    background: #f5f5f5;
}


.tweets {
    margin-top: 2rem;
}

.wrapped {
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

div[data-sponsor] {
    display: grid;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;
    margin-right: 5rem;
}

img[data-previous-sponsor] {
    filter: grayscale(100%);
    opacity: 0.25;
}

.btn-start {
    color: #ffffff;
    background-color: #39b54a;
    border-color: #39b54a;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
    color: #ffffff;
    background-color: #28a439;
    border-color: #28a439;
}

.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
    background-image: none;
}

.btn-start.disabled,
.btn-start[disabled],
fieldset[disabled] .btn-start,
.btn-start.disabled:hover,
.btn-start[disabled]:hover,
fieldset[disabled] .btn-start:hover,
.btn-start.disabled:focus,
.btn-start[disabled]:focus,
fieldset[disabled] .btn-start:focus,
.btn-start.disabled:active,
.btn-start[disabled]:active,
fieldset[disabled] .btn-start:active,
.btn-start.disabled.active,
.btn-start[disabled].active,
fieldset[disabled] .btn-start.active {
    background-color: #39b54a;
    border-color: #39b54a;
}

.btn-start .badge {
    color: #39b54a;
    background-color: #fff;
}

.btn-sponsoring {
    color: #ffffff;
    background-color: #3d9cd7;
    border-color: #3d9cd7;
}

.btn-sponsoring:hover,
.btn-sponsoring:focus,
.btn-sponsoring:active,
.btn-sponsoring.active,
.open .dropdown-toggle.btn-sponsoring {
    color: #ffffff;
    background-color: #2c8bc6;
    border-color: #2c8bc6;
}

.btn-sponsoring:active,
.btn-sponsoring.active,
.open .dropdown-toggle.btn-sponsoring {
    background-image: none;
}

.btn-sponsoring.disabled,
.btn-sponsoring[disabled],
fieldset[disabled] .btn-sponsoring,
.btn-sponsoring.disabled:hover,
.btn-sponsoring[disabled]:hover,
fieldset[disabled] .btn-sponsoring:hover,
.btn-sponsoring.disabled:focus,
.btn-sponsoring[disabled]:focus,
fieldset[disabled] .btn-sponsoring:focus,
.btn-sponsoring.disabled:active,
.btn-sponsoring[disabled]:active,
fieldset[disabled] .btn-sponsoring:active,
.btn-sponsoring.disabled.active,
.btn-sponsoring[disabled].active,
fieldset[disabled] .btn-sponsoring.active {
    background-color: #3d9cd7;
    border-color: #3d9cd7;
}

.btn-sponsoring .badge {
    color: #3d9cd7;
    background-color: #fff;
}

.btn-training {
    color: #ffffff;
    background-color: #f19322;
    border-color: #f19322;
}

.btn-training:hover,
.btn-training:focus,
.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
    color: #ffffff;
    background-color: #e08211;
    border-color: #e08211;
}

.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
    background-image: none;
}

.btn-training.disabled,
.btn-training[disabled],
fieldset[disabled] .btn-training,
.btn-training.disabled:hover,
.btn-training[disabled]:hover,
fieldset[disabled] .btn-training:hover,
.btn-training.disabled:focus,
.btn-training[disabled]:focus,
fieldset[disabled] .btn-training:focus,
.btn-training.disabled:active,
.btn-training[disabled]:active,
fieldset[disabled] .btn-training:active,
.btn-training.disabled.active,
.btn-training[disabled].active,
fieldset[disabled] .btn-training.active {
    background-color: #f19322;
    border-color: #f19322;
}

.btn-training .badge {
    color: #f19322;
    background-color: #fff;
}

.btn-fediverse {
    color: #ffffff;
    background-color: #babdb6;
    border-color: #babdb6;
}

.btn-fediverse:hover,
.btn-fediverse:focus,
.btn-fediverse:active,
.btn-fediverse.active,
.open .dropdown-toggle.btn-fediverse {
    color: #ffffff;
    background-color: #888a85;
    border-color: #888a85;
}

.btn-fediverse:active,
.btn-fediverse.active,
.open .dropdown-toggle.btn-fediverse {
    background-image: none;
}

.btn-fediverse.disabled,
.btn-fediverse[disabled],
fieldset[disabled] .btn-fediverse,
.btn-fediverse.disabled:hover,
.btn-fediverse[disabled]:hover,
fieldset[disabled] .btn-fediverse:hover,
.btn-fediverse.disabled:focus,
.btn-fediverse[disabled]:focus,
fieldset[disabled] .btn-fediverse:focus,
.btn-fediverse.disabled:active,
.btn-fediverse[disabled]:active,
fieldset[disabled] .btn-fediverse:active,
.btn-fediverse.disabled.active,
.btn-fediverse[disabled].active,
fieldset[disabled] .btn-fediverse.active {
    background-color: #babdb6;
    border-color: #babdb6;
}

.btn-fediverse .badge {
    color: #babdb6;
    background-color: #fff;
}
