@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
 font-family: 'Source Code Pro';
 font-style: normal;
 font-weight: 400;
 src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/SourceCodePro.ttf) format('truetype');
}

body, h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
}

code, pre {
 font-family: 'Source Code Pro', sans-serif;
 font-size: 0.75em;
}

body {
 font-size: 1.2em;
 font-kerning: normal;
 font-variant-ligatures: common-ligatures;
 text-rendering: optimizeLegibility;
}

nav {
 margin-bottom: 2em;
}

blockquote {
 font-size: 1em;
 margin-left: 2em;
}

.container > hr {
 margin: 30px 0;
}

.popover {
 max-width: none;
}

.jumbotron {
 margin: 40px 0;
 text-align: center;
 padding-bottom: 36px;
}

.jumbotron h1 {
 font-size: 3em;
 line-height: 1;
}

.jumbotron h2 {
 font-size: 2.5em;
 line-height: 1;
}

.jumbotron .lead {
 font-size: 1.5em;
 line-height: 1.25;
}

.jumbotron .subnav {
 line-height: 2.25;
}

.navbar {
 -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
}

.welcome-block {
 -webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
 box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
}

.welcome-block .btn {
 margin: 0 5px;
 -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
 box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
}

pre {
 -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 background: #f5f5f5;
}

.documentation .panel-body ul,
.documentation-outdated .panel-body ul {
 padding-left: 8px;
}

.documentation .panel-body li,
.documentation-outdated .panel-body li {
 list-style-type: none;
}

.documentation .panel-body li span.glyphicon,
.documentation-outdated .panel-body li span.glyphicon {
 margin-right: 10px;
}

.documentation-outdated {
 border-color: #999;
}

.documentation-outdated .panel-heading {
 background-color: #999;
 border-color: #999;
}

.documentation-outdated .panel-body a,
.documentation-outdated .panel-body li
 {
 color: #999;
}

.btn {
 font-size: 1em;
}

.btn-learn {
 color: #ffffff;
 background-color: #823BD0;
 border-color: #70489C;
}

.btn-learn:hover,
.btn-learn:focus,
.btn-learn:active,
.btn-learn.active,
.open .dropdown-toggle.btn-learn {
 color: #ffffff;
 background-color: #6D27B8;
 border-color: #60388A;
}

.btn-learn:active,
.btn-learn.active,
.open .dropdown-toggle.btn-learn {
 background-image: none;
}

.btn-learn.disabled,
.btn-learn[disabled],
fieldset[disabled] .btn-learn,
.btn-learn.disabled:hover,
.btn-learn[disabled]:hover,
fieldset[disabled] .btn-learn:hover,
.btn-learn.disabled:focus,
.btn-learn[disabled]:focus,
fieldset[disabled] .btn-learn:focus,
.btn-learn.disabled:active,
.btn-learn[disabled]:active,
fieldset[disabled] .btn-learn:active,
.btn-learn.disabled.active,
.btn-learn[disabled].active,
fieldset[disabled] .btn-learn.active {
 background-color: #823BD0;
 border-color: #70489C;
}

.btn-learn .badge {
 color: #823BD0;
 background-color: #ffffff;
}

.btn-donate {
 color: #ffffff;
 background-color: #333333;
 border-color: #262626;
}

.btn-donate:hover,
.btn-donate:focus,
.btn-donate:active,
.btn-donate.active,
.open .dropdown-toggle.btn-donate {
 color: #ffffff;
 background-color: #4c4c4c;
 border-color: #333333;
}

.btn-donate:active,
.btn-donate.active,
.open .dropdown-toggle.btn-donate {
 background-image: none;
}

.btn-donate.disabled,
.btn-donate[disabled],
fieldset[disabled] .btn-donate,
.btn-donate.disabled:hover,
.btn-donate[disabled]:hover,
fieldset[disabled] .btn-donate:hover,
.btn-donate.disabled:focus,
.btn-donate[disabled]:focus,
fieldset[disabled] .btn-donate:focus,
.btn-donate.disabled:active,
.btn-donate[disabled]:active,
fieldset[disabled] .btn-donate:active,
.btn-donate.disabled.active,
.btn-donate[disabled].active,
fieldset[disabled] .btn-donate.active {
 background-color: #333333;
 border-color: #262626;
}

.btn-donate .badge {
 color: #333333;
 background-color: #fff;
}

.btn-training {
 color: #ffffff;
 background-color: #f19322;
 border-color: #f19322;
}

.btn-training:hover,
.btn-training:focus,
.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
 color: #ffffff;
 background-color: #eb870f;
 border-color: #d3790d;
}

.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
 background-image: none;
}

.btn-training.disabled,
.btn-training[disabled],
fieldset[disabled] .btn-training,
.btn-training.disabled:hover,
.btn-training[disabled]:hover,
fieldset[disabled] .btn-training:hover,
.btn-training.disabled:focus,
.btn-training[disabled]:focus,
fieldset[disabled] .btn-training:focus,
.btn-training.disabled:active,
.btn-training[disabled]:active,
fieldset[disabled] .btn-training:active,
.btn-training.disabled.active,
.btn-training[disabled].active,
fieldset[disabled] .btn-training.active {
 background-color: #f19322;
 border-color: #f19322;
}

.btn-training .badge {
 color: #f19322;
 background-color: #fff;
}

.hljs {
  display: block; padding: 0.5em;
  background: #f5f5f5;
}

.card {
    margin-bottom: 2em;
}

@media (max-width: 767.98px) {
 .welcome-block .btn {
  display: block;
  width: 80%;
  margin: 0 auto 1em;
 }

 .jumbotron h1 {
  font-size: 2.6em;
 }

 .jumbotron .lead {
  font-size: 1.4em;
 }
}

@media (max-width: 991.98px) {
 .navbar .nav li {
  width: 100%;
 }
}
