<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="60">
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <link href="css/build_status.css" type="text/css" rel="stylesheet">
  <title>Build Status of PHPUnit &#x2013; The PHP Testing Framework</title>
 </head>
 <body>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
   <div class="container">
    <div class="d-sm-flex d-md-none flex-row-reverse w-100">
     <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
    </div>
    <div class="collapse navbar-collapse navbar-nav-justified" id="navbarSupportedContent">
     <a href="index.html"><img alt="PHPUnit" src="img/phpunit.png" style="height: 40px;"/></a>
     <ul class="navbar-nav w-100 nav-justified">
      <li class="nav-item"><a class="nav-link" href="documentation.html">Documentation</a></li>
      <li class="nav-item"><a class="nav-link" href="support.html">Support</a></li>
      <li class="nav-item"><a class="nav-link" href="sponsors.html">Sponsors</a></li>
      <li class="nav-item"><a class="nav-link" href="contribute.html">Contribute</a></li>
     </ul>
    </div>
   </div>
  </nav>
  <div class="container">
   <h1>Build Status</h1>
   <table class="table table-bordered">
    <thead>
     <tr>
         <td>&nbsp;</td>
         <td class="text-center" colspan="2"><strong>PHPUnit {{next}} <span class="text-muted">(next)</span></strong></td>
         <td class="text-center" colspan="2"><strong>PHPUnit {{current}} <span class="text-muted">(current)</span></strong></td>
         <td class="text-center" colspan="2"><strong>PHPUnit {{old}} <span class="text-muted">(old)</span></strong></td>
     </tr>
    </thead>
    <tbody>
{{repositories}}
    </tbody>
   </table>
   <div class="footer">
    <p>Copyright &copy; 2020 Sebastian Bergmann.</p>
   </div>
  </div>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
 </body>
</html>
